* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.box {
  overflow: hidden;
  width: 500px;
}
img {
  width: 100%;
  transition: all 0.2s ease-out;
}
img:hover {
  transform: scale(1.2);
}
