@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  border-radius: 20px;
  overflow: hidden;
}

.image {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
img {
  height: 100%;
  width: 100%;
}
.mid {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mid h4 {
  color: #a99bde;
  font-weight: 600;
  font-size: 15px;
}
.mid h1 {
  font-weight: 800;
  font-size: 40px;
}
.mid p {
  text-align: center;
  color: gray;
}

.bottom {
  background-color: #beadfa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 10px;
  position: relative;
}
.bottom::before {
  content: "";
  position: absolute;
  top: -100px;
  right: 0;
  height: 100px;
  width: 100px;
  border-bottom-right-radius: 50%;
  box-shadow: 0 45px 0 0 #beadfa;
}
.bottom::after {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  height: 100px;
  width: 100px;
  border-bottom-left-radius: 50%;
  box-shadow: 0 45px 0 0 #beadfa;
}
.bottom .item {
  z-index: 10;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item h2 {
  font-weight: 500;
}
