body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e4f7d3;
}

.typing-effect-container {
  text-align: center;
}

#typing-text {
  font-size: 40px;
  font-family: Arial, sans-serif;
  border-right: 2px solid #333;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}
